.top {
    background-color: $color22;
    height: 75px;

    .header {
        @extend .flex;
        padding-top: 18px;
        align-items: $al-it;

        .header_left {
            display: flex;
            flex-direction: row;
            align-items: $al-it;

            .brand {
                padding-right: 41px;
            }

            .search {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;

                .search-form {
                    display: flex;
                    font-family: $ff;
                    height: 25px;

                    .search-input {
                        padding-left: 5px;
                    }

                    .search-button {
                        width: 35px;
                        color: $colorFF;
                        border: 1px solid $color7F;
                        background-color: $color7F;
                    }
                }
            }
        }

        .header_right {
            display: flex;
            align-items: $al-it;

            .menu_details {
                display: block;

                summary {
                    list-style-type: none;
                }

                .mega_box {
                    width: 210px;
                    position: absolute;
                    z-index: 1;
                    border: 1px solid $colorFF;
                    background-color: $colorFF;
                    position: absolute;
                    top: 75px;
                    padding: 34px;

                    .menu_head {
                        display: flex;
                        text-decoration: none;
                        font-family: $ff;
                        @include fs(14px, 700, 17px);
                        color: $color00;
                    }

                    .item_flex {
                        margin-top: 24px;

                        .mega_hedding {
                            display: flex;
                            text-decoration: none;
                            font-family: $ff;
                            @include fs(14px, 400, 17px);
                            padding-bottom: 12px;
                            color: $color00;

                            &:hover {
                                color: #EF5B70;
                            }
                        }

                        .mega_link {
                            padding-left: 22px;
                            padding-bottom: 11px;
                            font-family: $ff;
                            display: block;
                            text-decoration: none;
                            color: #6F6E6E;
                            @include fs(14px, 400, 17px);

                            &:hover {
                                color: $color7F;
                            }

                            &:last-of-type {
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }

            .regist {
                padding-left: 33px;
                padding-right: 33px;
            }

            .basket {
                position: relative;

                .btn-cart {
                    align-self: center;
                    padding: 8px;
                    border: 1px solid #FF6A6A;
                    background: $colorFF;
                    color: #FF6A6A;

                    &:hover {
                        background-color: $color7F;
                        color: $colorFF;
                        border: 1px solid transparent;
                    }
                }

                .cart-block {
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
                    border-radius: 5px;
                    box-sizing: border-box;
                    right: 0;
                    top: 130%;
                    position: absolute;
                    background-color: white;
                    padding: 25px;
                    color: black;
                    width: 450px;

                    .basket-item {
                        margin-top: 10px;
                        display: flex;
                        justify-content: space-between;

                        .basket-elem {
                            flex-direction: column;

                            .product-bask {
                                display: flex;

                                .product-img-mini {
                                    width: 150px;
                                }

                                .product-desc {
                                    padding-left: 10px;

                                    .product-title {
                                        margin-bottom: 13px;
                                        @include fs(18px, 500, 15px);
                                        color: $color00;
                                    }

                                    .product-quantity {
                                        @include fs(15px, 400, 15px);
                                        color: $color00;
                                    }

                                    .product-price {
                                        @include fs(15px, 400, 15px);
                                        padding: 15px 0;
                                    }
                                }
                            }

                            .totalProd-price {
                                text-align: right;
                                font-weight: 900;
                                font-size: 18px;
                            }
                        }

                        .right-block {
                            .del-btn {
                                width: 22px;
                                height: 22px;
                                margin-top: 5px;
                                background-color: #2f2a2d;
                                border: 1px solid transparent;
                                color: #fafafa;
                                border-radius: 5px;

                                &:hover {
                                    background-color: #fafafa;
                                    color: #2f2a2d;
                                    border: 1px solid #2f2a2d;
                                }
                            }
                        }
                    }

                    .basket-item:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }

                .invisible {
                    display: none;
                }

                .cart-block:before {
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: -10px;
                    right: 35px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid white;
                }
            }
        }
    }
}